.club-containerC {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #121212;
  color: white;
}
.club-containerC {
  background-color: #31c17d; /* Green Theme */
}

.club-logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.club-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.club-description {
  font-size: 1.5rem;
  max-width: 600px;
}
